@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::after,
*::before {
  box-sizing: border-box;
}
button {
  border: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
